.container-fluid
	ul.nav.navbar-nav
		li
			a(href='https://www.facebook.com/OraclePartnerHUBTurkiye', target="_blank")
				i.fa.fa-facebook-square.fa-2x
		li
			a(href='https://www.twitter.com/PartnerHUB_TR' target="_blank")
				i.fa.fa-twitter.fa-2x
		li
			a
				i Follow us on Facebook and Twitter to get the latest news on trainings! Thanks for completing this form.
	ul.nav.navbar-nav.navbar-right
		li
			a
				i.fa.fa-phone
		li
			a
				i +(90) 216 316 5050
		li
			a
				span.glyphicon.glyphicon-envelope
		li
			a
				i partnerhub_tr@linkplus.com.tr
