navbar
.container
	.panel.panel-success
		.panel-heading Formu doldurduğunuz için teşekkür ederiz. / Thank you for completing this form.
		.panel-body
			ul.nav.navbar-nav
				li
					a(href='https://www.facebook.com/OraclePartnerHUBTurkiye', target="_blank")
						i.fa.fa-facebook-square.fa-2x
				li
					a(href='https://www.twitter.com/PartnerHUB_TR' target="_blank")
						i.fa.fa-twitter.fa-2x
				li
					a(href='https://tr.linkedin.com/grps/Oracle-Partner-HUB-Türkiye-8407856' target="_blank")
						i.fa.fa-linkedin.fa-2x
			h5
				ul.nav.navbar-nav.navbar-right
					li
						a
							i.fa.fa-phone
					li
						a
							i +(90) 216 316 5050
					li
						a
							span.glyphicon.glyphicon-envelope
					li
						a
							i partnerhub@linkplus.com.tr
