.bordershadow:hover {
	box-shadow: 0px 0px 4px rgba(35, 173, 278, 1);
}

.spacer {
	margin-right: 5px;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

li > a {
	margin-left: 10px;
}

.participant-header{
	background-color: #c9d2cf;
}

.li-comment{
	text-align: center;
	background-color: aliceblue;
}

.padding {
	margin-bottom: 5px;
}

.borderless tr {
    border: none;
}